button {
    display: inline-block;
    text-align: center;
    padding: 10px 20px;
    font-size: 18px;
    font-weight: 600;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    background-color: #42b883;
    color: #fff;
}

button:hover,
button:focus {
    background-color: #5c4ef1;
}

.gallery {
    margin-top: 30px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;
}

.photo-card {
    background-color: rgba(255, 186, 116, 0.9);
    border: 2px solid #0d161b;
    border-radius: 10px;
    padding: 15px;
}

.img_wrap {
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.gallery_link {
    display: block;
    text-decoration: none;
    color: #0d161b;
}

.load-more {
    margin: 30px auto;
    padding: 12px 24px;
    font-size: 16px;
    font-weight: 600;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    background-color: #f05c5c;
    color: #fff;
}